@model List<MessageReciever.Models.MessageModel>

<div style="margin-top:1%">
    <button id="refreshMsgDisplay" class="btn btn-default btn-lg btn-block">Refresh</button>
</div>

<div class="table-responsive" style="margin-top: 1%;">
    <table id="sortableTable" class="display table">
        <thead>
        <tr>
            <th>
                Recieved At
            </th>
            <th>
                Message
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Msg
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>



