@model List<MessageReciever.Models.MessageModel>

<script>
    $(document).ready(function () {
        $('#displayMessages').click(function (e) {
            $('#messageDisplay').load('/Message/DisplayMessages');
        });
    });
</script>


<div style="margin-top:1%">
    <button id="displayMessages">Display Messages</button>
</div>

<div style="margin-top:1%">
    <div id="messageDisplay"></div>
</div>





